
<div id="search" class="cos-xs-12">
<input id="livesearch_input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}"onkeyup="livesearch(this.value)"  class="form-control input-lg" />
<div class="" id="livesearch_result">
</div>

</div>
<script>
function livesearch(str) {
  if (str.length==0) {
    document.getElementById("livesearch_result").innerHTML="";
    document.getElementById("livesearch_result").style.border="0px";
    return;
  }
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("livesearch_result").innerHTML=this.responseText;
      document.getElementById("livesearch_result").style.border="1px solid #A5ACB2";
      document.getElementById("livesearch_result").style.position="absolute";   
    }
  }
  xmlhttp.open("GET","index.php?route=product/livesearch&link={{route}}&search="+str,true);
  xmlhttp.send();
}
 
  function remove_search () {
    document.getElementById('livesearch_input').value='';
    document.getElementById("livesearch_result").innerHTML="";
    document.getElementById("livesearch_result").style.border="0px";
  }
  


</script>

<style>
#livesearch_result {
    z-index: 999;
    background-color: white;
    width: calc(100% - 30px );
}
</style>